#discover-song {
  display: flex;
  justify-content: space-around;
  border: solid;
  width: 750px
}

#discover-body {
  display: flexbox;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
