#discover-song {
  display: flex;
  justify-content: space-around;
  border: solid;
  width: 750px;
  display: flex;
  align-content: space-around;
  border: 1px solid #00ADB5;
  margin: 50px;
  border-radius: 30px;
}

#discover-body {
  display: flexbox;
}

h1 {
  color: #222831;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img {
  border: 1px solid #00ADB5;
  border-radius: 30px;
  margin: 15px;
}
